@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
	font-family: 'A La Russ';
	src: url('./fonts/ALaRuss.eot');
	src: local('A La Russ'), local('ALaRuss'),
		url('./fonts/ALaRuss.eot?#iefix') format('embedded-opentype'),
		url('./fonts/ALaRuss.woff') format('woff'),
		url('./fonts/ALaRuss.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

body{
    letter-spacing: 2px;
    font-family: 'A La Russ';
    /* font-family: 'Montserrat', sans-serif; */
    /* background-color: #e8e8e8; */
    background-color: var(--var-body-bg);
    color: var(--var-body-fc);
}


button {
    height: 50px;
    margin: 5px;
    width: 120px;
    background: #333;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'A La Russ';
    border: solid #404C5D 1px;
    font-size: 20px;
    color: rgb(161, 161, 161);
    -webkit-transition: 500ms;
    transition: 500ms;
    border-radius: 5px;
    background: linear-gradient(145deg, #2e2d2d, #212121);
    -webkit-box-shadow: -1px -5px 15px #41465B, 
                5px  5px 15px #41465B, 
      inset      5px  5px 10px #212121, 
      inset     -5px -5px 10px #212121;
    box-shadow: -1px -5px 15px #41465B, 
                5px  5px 15px #41465B, 
      inset      5px  5px 10px #212121, 
      inset     -5px -5px 10px #212121;
  }
  
  button:hover {
    -webkit-box-shadow: 1px 1px 13px #20232e,
                      -1px -1px 13px #545b78;
    box-shadow: 1px 1px 13px #20232e,
              -1px -1px 13px #545b78;
    color: #d6d6d6;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  
  button:active {
    -webkit-box-shadow: 1px 1px 13px #20232e,
                      -1px -1px 33px #545b78;
    box-shadow: 1px 1px 13px #20232e,
              -1px -1px 33px #545b78;
    color: #d6d6d6;
    -webkit-transition: 100ms;
    transition: 100ms;
  }

h1 {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'A La Russ';


}

/* theme */
:root {
    --var-body-bg: #212121;
    --var-body-fc: #e8e8e8;

}

[light] {
    --var-body-bg: #e8e8e8;
    --var-body-fc: #212121;

}


.theme {

    float: right;
}

/* theme switch */
.toggle-switch {
    position: relative;
    width: 100px;
    height: 50px;
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
    float: right;
  }
  
  .switch-label {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: var(--dark);
    border-radius: 25px;
    cursor: pointer;
    border: 3px solid var(--dark);
  }
  
  .checkbox {
    position: absolute;
    display: none;
  }
  
  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .checkbox:checked ~ .slider {
    background-color: var(--light);
  }
  
  .slider::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
    box-shadow: inset 12px -4px 0px 0px var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(50px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
  }

select{
  font-family: 'A La Russ';
  font-size: 20px;
  /* width: 100px; */
  height: 40px;
}

label{
  font-size: 20px;
}