<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/css/style.css">
    <title>Музыкальный плеер</title>
    <style>
        #player-container {
            display: flex;
            align-items: center;
        }


        #album-cover {
            width: 300px;
            height: 300px;
            /* margin-right: 20px; */
            margin: auto;
            display: block;
        }
        
/*         #timeline {
            width: 100%;
        } */
        #timeline {
            width: 50%;
        }


    </style>
          
</head>
<body>
    <div style="text-align: center;">
    <h1>Музыкальный плеер</h1>
    <div id="player-container">
        <img id="album-cover" class="item__img" src="../ga/ga.webp" alt="Обложка альбома">
        <audio id="audioPlayer">
            <source src="" type="audio/mpeg">
            Ваш браузер не поддерживает аудио элемент.
        </audio>
        
    </div>
    <input type="range" id="timeline" min="0" value="0">

    <div id="controls">
        <button id="playButton">Пуск</button>
        <button id="pauseButton">Пауза</button>
        <button id="stopButton">Стоп</button>
    </div>
    <br>
    <label for="songSelect">Выберите песню:</label>
    <select id="songSelect">
        <option value="">(Нет)</option>
        <option value="../ga/01.-Avans.mp3">Аванс</option>
        <option value="../ga/02.-Svidanie.mp3">Свидание</option>
        <option value="../ga/03.-Vylazka.mp3">Вылазка</option>
        <option value="../ga/04.-30-let.mp3">З0 лет</option>
        <option value="../ga/05.-Life.mp3">Life</option>
        <option value="../ga/06.-Tuman.mp3">Туман</option>
        <option value="../ga/07.-Tvoj-zvonok.mp3">Твой звонок</option>
        <option value="../ga/08.-GAI-Voditelskaya-podhalimskaya.mp3">ГАИ (Водительская-подхалимская)</option>
        <option value="../ga/09.-Mak.mp3">Мак</option>
        <option value="../ga/10.-CHunga-changa.mp3">Чунга-чанга</option>
        <option value="../ga/11.-Hata.mp3">Хата</option>
        <option value="../ga/12.-Rasskaz-uslyshannyj-v-avtokombinate.mp3">Рассказ, услышанный в автокомбинате</option>    
        <option value="../ga/13.-Oparysh.mp3">Опарыш</option>            
        <!-- Добавьте остальные песни -->
    </select>
    </div>

    <script>
        const audioPlayer = document.getElementById('audioPlayer');
        const playButton = document.getElementById('playButton');
        const pauseButton = document.getElementById('pauseButton');
        const stopButton = document.getElementById('stopButton');
        const timeline = document.getElementById('timeline');
        const songSelect = document.getElementById('songSelect');

        playButton.addEventListener('click', () => {
            audioPlayer.play();
        });

        pauseButton.addEventListener('click', () => {
            audioPlayer.pause();
        });

        stopButton.addEventListener('click', () => {
            audioPlayer.pause();
            audioPlayer.currentTime = 0;
        });

        audioPlayer.addEventListener('loadedmetadata', () => {
            timeline.max = audioPlayer.duration;
        });

        timeline.addEventListener('input', () => {
            audioPlayer.currentTime = timeline.value;
        });

        audioPlayer.addEventListener('timeupdate', () => {
            timeline.value = audioPlayer.currentTime;
        });

        songSelect.addEventListener('change', () => {
            audioPlayer.src = songSelect.value;
            audioPlayer.load();
            audioPlayer.play();
        });
    </script>

</body>

</html>