<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/css/style.css">
    <title>Музыкальный плеер</title>
    <style>
        #player-container {
            display: flex;
            align-items: center;
        }


        #album-cover {
            width: 300px;
            height: 300px;
            /* margin-right: 20px; */
            margin: auto;
            display: block;
        }
        
/*         #timeline {
            width: 100%;
        } */
        #timeline {
            width: 50%;
        }


    </style>
        <!-- <div class="theme">
            <input type="checkbox" onchange="handleChange(this.checked)" />
            Light Theme
        </div> -->
        <!-- <div class="toggle-switch">
            <label class="switch-label">
              <input type="checkbox" onchange="handleChange(this.checked)" class="checkbox">
              <span class="slider"></span>
            </label>
          </div>   -->
          
</head>
<!-- <script>
    const handleChange = (isChecked) => {
        if (isChecked) {
            document.body.setAttribute('light', '')
        } else{
            document.body.removeAttribute('light')
        }
    }
</script> -->
<body>
    <div style="text-align: center;">
    <h1>Музыкальный плеер</h1>
    <div id="player-container">
        <img id="album-cover" class="item__img" src="../yv/yv.webp" alt="Обложка альбома">
        <audio id="audioPlayer">
            <source src="" type="audio/mpeg">
            Ваш браузер не поддерживает аудио элемент.
        </audio>
        
    </div>
    <input type="range" id="timeline" min="0" value="0">

    <div id="controls">
        <button id="playButton">Пуск</button>
        <button id="pauseButton">Пауза</button>
        <button id="stopButton">Стоп</button>
    </div>
    <br>
    <label for="songSelect">Выберите песню:</label>
    <select id="songSelect">
        <option value="">(Нет)</option>
        <option value="../yv/01.-My-sovkovye-rebyata.mp3">Мы-совковские ребята</option>
        <option value="../yv/02.-Skotnik.mp3">Скотник</option>
        <option value="../yv/03.-Noski.mp3">Носки</option>
        <option value="../yv/04.-Impotent.mp3">Импотент</option>
        <option value="../yv/05.-YAdryona-vosh.mp3">Ядрёна вошь</option>
        <option value="../yv/06.-Ment.mp3">Мент</option>
        <option value="../yv/07.-Kolybelnaya.mp3">Колыбельная</option>
        <option value="../yv/08.-Plan.mp3">План</option>
        <option value="../yv/09.-Spor.mp3">Спор</option>
        <option value="../yv/10.-Karavan.mp3">Караван</option>
        <option value="../yv/11.-Perdun.mp3">Пердун</option>
        <option value="../yv/12.-Vecherom-na-lavochke.mp3">Вечером на лавочке</option> 
        <option value="../yv/13.-Vozle-doma-tvoego.mp3">Возле дома твоего</option>
        <option value="../yv/14.-Minet.mp3">Минет</option>      
        <!-- Добавьте остальные песни -->
    </select>
    </div>

    <script>
        const audioPlayer = document.getElementById('audioPlayer');
        const playButton = document.getElementById('playButton');
        const pauseButton = document.getElementById('pauseButton');
        const stopButton = document.getElementById('stopButton');
        const timeline = document.getElementById('timeline');
        const songSelect = document.getElementById('songSelect');

        playButton.addEventListener('click', () => {
            audioPlayer.play();
        });

        pauseButton.addEventListener('click', () => {
            audioPlayer.pause();
        });

        stopButton.addEventListener('click', () => {
            audioPlayer.pause();
            audioPlayer.currentTime = 0;
        });

        audioPlayer.addEventListener('loadedmetadata', () => {
            timeline.max = audioPlayer.duration;
        });

        timeline.addEventListener('input', () => {
            audioPlayer.currentTime = timeline.value;
        });

        audioPlayer.addEventListener('timeupdate', () => {
            timeline.value = audioPlayer.currentTime;
        });

        songSelect.addEventListener('change', () => {
            audioPlayer.src = songSelect.value;
            audioPlayer.load();
            audioPlayer.play();
        });
    </script>

</body>

</html>